* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #005691;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 70px;
    height: 70px;
}

.title {
    background-size: cover;
    background-position: center;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    width: 100%;
}

.title h1 {
    font-size: 48px;
    margin: 0;
}

.title h2 {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px 0 0;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button,
.signup-button {
    background-color: #ffc145;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #005691;
}

.login-button:hover {
    background-color: #FBF0DB;
    border: #005691 1px solid;
}

.signup-button:hover {
    background-color: #FBF0DB;
    border: #005691 1px solid;
}

.about-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section_intro {
    display: flex;
}

.about-section_intro h3 {
    margin: 50px auto 50px 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #005691
}

.about-section_intro p {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: antiquewhite;
    line-height: 1.5;
    padding: 20px;
    color: #005691;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    color: #005691;
}

.feature {
    margin-top: 10px;
    text-align: center;
    width: 200px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.feature:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    background-color: #f0f0f0;
}

.feature svg {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    color: #005691;
}

.feature p {
    font-size: 16px;
}

.featured-artworks {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

.featured-artworks h3 {
    font-size: 32px;
    color: #005691;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artwork-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.artwork-card {
    width: 240px;
    height: 320px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #FBF0DB;
}

.artwork-card img {
    width: 200px;
    height: 200px;
    margin: 10px 20px;
    object-fit: contain;
}

.artwork-card p {
    margin: 5px 0;
}

.artwork-card p b {
    color: #005691;
}


.footer {
    background-color: #005691;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-height: 250px;
}


.contact-info svg {
    height: 20px;
    width: 20px;
}

div.logo-footer {
    text-align: center;
}

.logo-footer img {
    width: 200px;
    height: 200px;
}

.logo-footer p {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: #ffc145;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}